.CashPanel {
    display: inline-block;
    padding: 25px;
    background-color: #E4E2FF;
    margin: 10px;
    border-radius: 15px;
}


.description {
    margin-top: 0;
    font-size: 20px;
    font-weight: 500;
}