.suggestions {
    position: absolute;
    border: 2px black solid;
}

.suggestion {
    margin: 0;
    background-color: white;
    border: 1px black solid;
    padding: 4px 5px;
    font-size: 14px;
}

.suggestion:hover {
    background-color: dodgerblue;
    color: white;
}