.nwContainer {
    background-color: #EFEEFF;
    justify-content: center;
    width: fit-content;
    margin: 0 auto 20px;
    padding: 10px;
    display: flex;
    border-radius: 15px;
}

.calculateBtn {
    background-color: rgb(89, 74, 255);
    color: white;
    border: none;
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
    margin: 10px auto;
    cursor: pointer;
}

.calculateBtn:hover {
    color: #301dff;
    background-color: #bab4ff;
}

.calculateBtn:focus {
    outline: none;
}

.center {
    width: 100%;
    text-align: center;
}

.verticalCenter {
    position: absolute;
    top: 30%;
}